# Ansible managed - SSH hardening

# --- Host keys ---
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key

# --- Crypto ---
KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

# --- Logging ---
LogLevel VERBOSE

# --- General hardening ---
PubkeyAuthentication yes
PermitUserEnvironment no
Protocol 2
AllowTcpForwarding no
AllowStreamLocalForwarding no
GatewayPorts no
PermitTunnel no
PermitEmptyPasswords no
IgnoreRhosts yes
UseDNS no
Compression no
TCPKeepAlive no
AllowAgentForwarding no
HostbasedAuthentication no

# --- Access control ---
AllowGroups sshusers
PermitRootLogin no
PasswordAuthentication no

# --- Limits ---
ClientAliveCountMax 0
ClientAliveInterval 300
LoginGraceTime 30
MaxAuthTries 2
MaxSessions 2
MaxStartups 2

# --- Network ---
Port {{ ssh_port }}
ListenAddress 0.0.0.0

# --- Features ---
X11Forwarding no
Subsystem sftp internal-sftp -f AUTHPRIV -l INFO

